* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html {
    height: 100%;
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


/* PAGES STYLES */
DIV#indexPage{background: center repeat-y url(../img/body_bg.png);}
DIV#indexPage .ui-content{background-repeat:no-repeat;}
DIV#indexPage TABLE{width:100%;height:100%;border-collapse:collapse;}
DIV#indexPage TABLE TD{vertical-align:middle;}
DIV#indexPage DIV.flags{}
  
/*@media screen and(orientation:portrait){
	DIV#indexPage .ui-content{background-position:top center;background-image: url(../img/index_bg_480x854.png);}
  	DIV#indexPage TABLE.flagsTable.landscape{display:none;}
  	TABLE.flagsTable TD{vertical-align:bottom;text-align:center;height:50%;}
  	DIV#indexPage DIV.flags{margin:0 auto;width:210px;}
  	DIV#indexPage div.flags a.lng{float:left;display:block;margin-right:10px;}
}*/

/*@media screen and(orientation:landscape){*/
	DIV#indexPage .ui-content{background-position:center center;background-image: url(../img/index_bg_480_landscape.png);}
  	DIV#indexPage TABLE.flagsTable.portrait{display:none;}
  	TABLE.flagsTable TD{vertical-align:middle;text-align:center;height:100%;width:80%;}
  	TABLE.flagsTable TD.flagsCell{width:20%;}
  	DIV#indexPage DIV.flags{}
  	DIV#indexPage div.flags a.lng{display:block;margin:0 auto 0 auto;}
/*}*/
  
  DIV#indexPage DIV.flags{margin:0 auto;}
  DIV#indexPage div.flags a.lng{display:block;background:url(../img/languages_icons.png) no-repeat;width:60px;height:87px;}
  DIV#indexPage div.flags a.lng.En.hover{background-position:-61px -349px;}
  DIV#indexPage div.flags a.lng.Fr.hover{background-position:-121px -349px;}
  DIV#indexPage div.flags a.lng.Sk.hover{background-position:0px -349px;}
  DIV#indexPage div.flags a.lng.En{background-position:-61px -436px;}
  DIV#indexPage div.flags a.lng.Fr{background-position:-121px -436px;}
  DIV#indexPage div.flags a.lng.Sk{background-position:0px -436px;}
/*}*/




/* DIAGNOSE PAGE */
DIV#diagnosePage {background: center repeat-y url(../img/body_bg.png);}
DIV#diagnosePage H1#chartCathegory{}