* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
html{height:100%;}
body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.status {
    background-color:#333333;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.status.complete {
    background-color:#4B946A;
}

.hide {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

DIV#indexPage{background: center repeat-y url(../img/body_bg.png);height:0;}
DIV#indexPage .ui-content{background-position:top; background-repeat:no-repeat;height:100%;padding: 0;border:1px solid red;}

  DIV#indexPage DIV.flags{}
  DIV#indexPage div.flags a.lng{display:block;background:url(../img/languages_icons.png) no-repeat;width:60px;height:87px;margin:0 auto 0 auto;}
  DIV#indexPage div.flags a.lng.En:hover{background-position:-122px -339px;}
  DIV#indexPage div.flags a.lng.Fr:hover{background-position:-61px -339px;}
  DIV#indexPage div.flags a.lng.Sk:hover{background-position:0px -339px;}
  DIV#indexPage div.flags a.lng.En{background-position:-122px -426px;}
  DIV#indexPage div.flags a.lng.Fr{background-position:-61px -426px;}
  DIV#indexPage div.flags a.lng.Sk{background-position:0px -426px;}
/*}*/




/* DIAGNOSE PAGE */
DIV#diagnosePage {background: center repeat-y url(../img/body_bg.png);}
DIV#diagnosePage H1#chartCathegory{}